body {
  background-color: white;
  text-align: center;
  color: black;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
h2 {
    font-size: 50px;
}
#display {
  /*border:3px solid grey;*/
  height: 100%;
  width: 50%;
  font-size: 50px;
  vertical-align: auto;
  color: #FF3232;
}

#cont1 {
  /*border: 10px solid red;*/
  height: 500px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: url(imgs/ovalpokertable.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#row1{
  height: 30%;
  margin-top: 6%
}

.xiaorow {
  /*border: 2px solid green;*/
  height: 8%;
  width:80%;
  margin-left: auto;
  margin-right: auto;

}

.col-md-3 {
  height: 100%;
}

#banker {
  font-size: 20px;
}

.words {
  font-size: 10pt;
}

.ace-profits {
  line-height: 4em;
}

.row {
  height: 5%
}

.card {
  height: 80px;
  margin-top: 18%
}

#person {
  font-size: 30pt;
}

.avatar {
  height: 100px;
  width: auto;
}
#topRow {
  /*border: 3px solid yellow;*/
}

.title2 {
  height: 80px;
  width: auto;
}

.title {
  height: 100px;
  width: auto;
}
#dealCards {
  height: 80px;

}
.col-md-4 {
  font-size: 20pt;
}
.boomz {
  color: #FF3232;
  font-weight: bolder;
}
p {
  font-size: 20pt;
  font-weight: bolder;
  color: blue;
}

span {
  font-size: 30pt;
}
.betting {
  color: gold;
}
